* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    margin-bottom: 15px;
}
.row {
    width: 100%;
}

.col-1, .col-2, .col-3 {
    background-color: gray;
    border: 1px solid black;
    height: 150px;
    width: 90%;
    margin: 10px;
}

p {
    height: 30px;
    width: 70px;
    text-align: center;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 0;
}
#p1 {
    background-color: pink;
    color: black;
}
#p2 {
    background-color: darkred;
    color: white;
}
#p3 {
    background-color: sandybrown;
    color: black;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-1, .col-2, .col-3 {
    width: 30%;
    float: left;
  }
}



/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2 {
        width: 46%;
        float: left;
    }
    .col-3 {
        width: 94%;
        float: left;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-1, .col-2, .col-3 {
        width: 40%;
}